Header set Content-Security-Policy "style-src 'self'; style-src https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i&display=swap; script-src 'self'; script-src https://unpkg.com/lunr@2.3.9/lunr.min.js; script-src https://code.jquery.com/jquery-3.7.1.min.js"
