$custom-colors: (
  'my-favorite-color': purple,
  'my-other-color': pink,
  'white': #ffffff,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

.navbar-nav {
  --bs-nav-link-color: rgb(0,0,0);
  --bs-nav-link-hover-color: #427583; 
  --bs-nav-link-disabled-color: rgba(105, 102, 102, 0.943);
  --bs-nav-link-active-color: rgb(49, 12, 236);
  --bs-navbar-active-color: rgb(49, 12, 236);
}


// Make the releases dropdown scrollable
ul.dropdown-menu {
  max-height: 600px; /* Adjust this value as needed */
  overflow-y: scroll;
}

.td-navbar .td-search__input:not(:focus) {
  background: #bdbdbd;
  border: 1px solid #bdbdbd;
}

