<!-- Bootstrap Bundle JS (includes Popper) - Required for collapse functionality -->
<!-- Version: 5.3.0 - Downloaded from: https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js -->
<!-- Integrity: sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz -->
<script src="/js/vendor/bootstrap.bundle.min.js"></script>

<!-- Carousel YouTube video control - pauses videos when carousel slides change -->
<script src="/js/carousel-youtube.js"></script>

{{ $stickySmart := resources.Get "js/sticky-smart.js" }}
{{ if $stickySmart }}
<script src="{{ $stickySmart.Permalink }}"></script>
{{ end }}

{{ $sidebarToggle := resources.Get "js/sidebar-toggle.js" }}
{{ if $sidebarToggle }}
<script src="{{ $sidebarToggle.Permalink }}"></script>
{{ end }}

{{ $tocScrollspy := resources.Get "js/toc-scrollspy.js" }}
{{ if $tocScrollspy }}
<script src="{{ $tocScrollspy.Permalink }}"></script>
{{ end }}